.hero_c{
    background: #FAF6FF;
    padding: 4rem 5rem;
    border-radius: 0 0 3rem 3rem;
}
.heroImg{
    width: 40%;
}
.heroBtn{
    background: #626262;
    color: #fff;
    padding: .5rem 3rem;
    width: fit-content;
    border-radius: 2rem;
    cursor:pointer;
    transition: all .2s;
}
.heroBtn:hover{
    background: #fff;
    color: #626262;
}