.sectionTitle{
    padding: 2rem 0 0 0;
}

.sectionLargeCard{
    padding: 4rem;
    border-radius: 2rem;
}
.sectionCards_c{
    direction: rtl;
}
.sectionCard{
    padding: 2rem;
    border-radius: 1rem;
}
.sectionCard:nth-child(even){
    background: #F4F4F4;
}
.sectionCard:nth-child(odd){
    background: #FBEEFF;
}

.sectionCardList{
    list-style-type: square;
    direction: rtl;
    text-align: right;
}
.sectionBtn{
    cursor: pointer;
    padding: .5rem 1rem;
    transition: all .2s;
}
.sectionBtn:hover{
    background: #d2d2d2;
    color: #333;
}