@import "tailwindcss";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Tajawal", sans-serif;
}

html{
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
    color: #fff;
    background: linear-gradient(135deg, #0c0c0c, #1a1a2e 15%, #16213e 35%, #0f3460 50%, #533a7d 70%, #8b5a8c, #a0616a) no-repeat;
}

.g-btn {
    color: #fff;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px);
    border-radius: 20px;
}

.c{
    margin: 2rem 5rem;
}
.sectionTitle{
    width: 100%;
    display: flex;
    flex-basis: 35%;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-weight: 600;
}
.sectionTitle::before{
    content: "";
    flex-basis: 30%;
    display: block;
    height: 6px;
    background: #f2f2f2;
}
.sectionTitle::after{
    content: "";
    display: block;
    flex-basis: 30%;
    height: 6px;
    background: #f2f2f2;
}

.footer{
    padding: 1rem 2rem;
    text-align: center;
}


.navHandler{
    transition: all .3s;
}
.openNavHandler{
    left: 0;
}
.closeNavHandler{
    left: -70%;
}
.barHidden{
    display: none !important;
}
.barShow{
    display: block !important;
}

@media (max-width:750px){
    .nav{
        padding: .5rem 2rem !important;
    }
    .nav .navList{
        display: none;
    }
    .logo_c{
        width: 3rem !important;
    }
    .c{
        margin: 2rem 1.5rem;
    }
    .heroContainer{
        padding: 2rem !important;
    }
    .heroLeft, .heroRight{
        width: calc(100% - 4rem) !important;
    }
    .sectionTitle{
        gap: .5rem;
    }
    .DCard{
        width: 100% !important;
    }
}
@media (min-width:750px){
    .nav .navOpenIcon, .nav .navCloseIcon{
        display: none !important;
    }
}