.nav{
    padding: .5rem 9rem;
    border-radius: 0 0 1rem 1rem;
    width: 100%;
}
.nav a{
    color: #fff;
}
.logo_c{
    width: 4rem;
    max-width: 5rem;
    padding: .2rem;
}
.navListItem{
    color: #333;
    font-size: 1.4rem;
    font-weight: 500;
}
.navListItemText{
    border-bottom: 2px solid transparent;
    transition: all .2s;
}
.navListItemText:hover{
    border-bottom: 2px solid #333
}
.navHandler{
    transition: all .3s;
}
.openNavHandler{
    left: 0;
}
.closeNavHandler{
    left: -70%;
}
.barHidden{
    display: none !important;
}
.barShow{
    display: block !important;
}